body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container {
        width: 600px;
    }
}

main {
    flex: 1 0 auto;
    position:absolute;
    top:0;
    bottom:76px;
    left:0px;
    right:0px; 
    overflow:auto;
}

footer {
    position:absolute; 
    bottom:0px;
    height:76px; 
    left:0px;
    right:0px;
    overflow:hidden;
    }

canvas {
    margin-bottom: 3rem;
}

.row {
    width: 100%;
}

.row-footer {
    margin-bottom: 0%;
}

.page-footer {
    padding-top: 0%;
}

.week-done {
    color: #26a69a;
    font-weight: bold;
}

.week-failed {
    color: #ff8a80;
    font-weight: bold;
}

.week-pending {
    color: #000000;
}
