.btn-primary {
    background-color: #51cda0;
    border-color:#51cda0d5;
}

.btn-primary:hover {
    background-color: #51cda0d5;
    border-color:#51cda0d5;
}

h1 {
    color: #6d78ad;
}

.week-done {
    color: #51cda0;
    font-weight: bold;
}

.week-failed {
    color: #df7970;
    font-weight: bold;
}

.week-pending {
    color: #c9d45c;
}